html, body {
 margin:0;
 padding:0;
 height:90%;
 background-color: #eee;
}
h1 {
  color: black;
}

h2 {
  color: black;
}

.btnLogOut{
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.clock{
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: white;
  text-align: right;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2em;
}

.containerP{
  margin-top: 20px;
  max-width: 60%;
}

.rowP{
  margin-top: 15px;
}

.containerCard{
  margin-top: 50px;
  max-width: 60%;
}

.colorRectangle{
  width: 100%;
  height: 20px;
}

.hrWhite{
  border-top: 1px solid #ccc;
  width: 90%;
  margin-left: 5%;
}
