API/node_modules/
API/functions/node_modules/
API/.firebase
API/functions/key.json
API/functions/serviceAccountKey.json
API/functions/.runtimeconfig.json
API/firebase-debug.log
API/public/clock.js
API/public/credentials.txt
NP_Arduino-ESP8266/
.firebaserc
